.comment-header {
  cursor: pointer;
  padding: 30px 0;
  background: #f6f6f6;
  border-top: 1px solid #eeeeee;
  text-align: center;
  text-transform: uppercase;
  font-family: "Varela Round","Arial",Sans-Serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #373737;
}