* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background-color: #fff;
  font: 300 17px/28px "Oxygen","Arial",Sans-Serif;
  margin: 0;
}

.wrapper {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: color 0.15s ease-in,background 0.15s ease-in,border-color 0.15s ease-in;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  outline: none !important;
}

time {
  display: inline-block;
  padding: 2px 4px;
}

.page-wrapper {
  position: relative;
  left: 0;
  transition: left 500ms ease-in-out;
}

.post-contents, .excerpt {
  a[href*="//"]:not([href*="walkerrandolphsmith.com"]):after {
    content: "\f08e";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    padding-left: .25em;
  }
}