@media (max-width: 490px) {
  .hero {
    .post-item {
      h2 {
        margin: 30px 0;
        font-size: 32px;
        line-height: 46px;
      }

      .excerpt {
        margin: 30px 0;
        font-size: 17px;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: 560px) {
  .hero {
    .name {
      font-size: 30px;
      line-height: 32px;
    }
    .post-title.center {
      width: 85%;
      vertical-align: bottom;

      .excerpt {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: 880px) {
  header.blog-info nav.main > ul:first-child {
    display: none;
  }

  .hero {

    .post-title.center h1,
    .post-title.center .excerpt {
      text-align: center;
    }
  }
}